.img{
    width: 200px;
    height: 260px;
    margin: 10px;
}
*{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
i{
    color: rgb(6, 100, 14);
}
abbr{
    color: rgb(25, 213, 238);
    font-weight: bold; /* Có thể làm cho nó đậm hơn */
    text-decoration: underline dotted; /* Gạch chân dạng chấm để làm nổi bật */
}
.green{
    color: green;
}