*{
    
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: rgb(132, 132, 236);
    color: white;
    text-align: center;
}
.table{
    width: 100%;
    text-align: center;
    
    
}
body{
    background-color: rgb(195, 200, 201);
}
h1{
    text-align: center;
}
.odd{
    background-color:white;
}