body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .img {
    width: 250px;
    object-fit: cover;
  }
  .content {
    padding: 15px;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .meta {
    color: #5654548e;
    font-size: 14px;
    margin: 5px 0;
  }
  .description {
    font-size: 14px;
    color: #373434;
  }
  #b{
    font-weight: bold;
  }