.center {
    text-align: center;
    border: 3px solid green;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.code-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    width:90%;
    margin-left: 100px;
    margin-right: 400px;
}
.button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.brown{
    color:brown;
}
.container{
    background-color:gray;
}